.footer {
  display: flex;
  bottom: 0;
  flex-direction: row;
  align-items: center;
  color: white;
  padding-right: 5%;
  background-color: #217ad6;
  justify-content: space-between;
  text-align: left;
  }